.Home-Grid {
  display: grid;
  align-items: stretch;
  justify-content: stretch;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 96rem;
}

.Home-GridItem:nth-child(odd) {
  margin-top: 4rem;
}

.Home-Spinner {
  margin: 4rem auto;
}

@media (max-width: 600px) {
  .Home-Grid {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .Home-GridItem:nth-child(odd) {
    margin-top: inherit;
  }
}
